.song-row-library .song-item .song-icon {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.delete-overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}
.delete-overlay .delete-content {
  width: 500px;
  background: #212629;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.delete-overlay .delete-content .delete-main {
  padding: 25px;
}
.delete-overlay .delete-content .delete-main .delete-title {
  letter-spacing: 0.25em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.delete-overlay .delete-content .delete-main .delete-text {
  padding: 15px 0px;
  opacity: 0.6;
}
.delete-overlay .delete-content .delete-main .delete-files {
  font-size: 12px;
}
.delete-overlay .delete-content .delete-main .delete-files span {
  display: block;
  padding: 5px 0px;
}
.delete-overlay .delete-content .delete-actions {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
  background: rgba(0, 0, 0, 0.4);
}
.delete-overlay .delete-content .delete-actions button {
  margin-left: 10px;
}
.delete-overlay.active {
  display: flex;
}
