.song-row-library .song-item .song-icon {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

/*The spinning animation for the refresh button.*/
@keyframes refreshspeen {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
