html {
  box-sizing: border-box;
  -webkit-user-select: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #212629;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
::-webkit-scrollbar {
  background: #212529;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
main {
  display: grid;
  margin-left: 60px;
  overflow-y: scroll;
}
main aside {
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  grid-template-rows: 1fr auto;
}
main aside .item {
  width: 60px;
  height: 60px;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: 0.2s ease opacity, 0.2s ease background;
}
main aside .item:hover {
  opacity: 1;
  cursor: pointer;
}
main aside .item.active {
  opacity: 1;
  background: linear-gradient(135deg, #00FFEE, #45C1FF);
}
main aside .item .mdi {
  font-size: 22px;
}
input {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #222;
  background: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  padding: 7px 14px;
  border: 0px;
  transition: 0.2s ease-in-out all;
}
input:hover {
  background: #fff;
  color: #222;
  cursor: pointer;
}
input:focus {
  outline: 0;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
button,
.button {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  padding: 7px 14px;
  border: 0px;
  transition: 0.2s ease-in-out all;
}
button:hover,
.button:hover {
  background: #fff;
  color: #222;
  cursor: pointer;
}
button:focus,
.button:focus {
  outline: 0;
}
section {
  display: none;
}
section.active {
  display: block;
}
section.section-startup {
  padding: 50px;
}
section.section-startup.active {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 25px;
}
