.section-settings {
  padding: 50px;
  flex-direction: column;
  align-items: center;
}
.section-settings .settings-title {
  font-size: 14px;
  letter-spacing: 0.25em;
  font-weight: bold;
  text-transform: uppercase;
}
.section-settings .settings-box {
  width: 600px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  margin-bottom: 25px;
}
.section-settings .settings-box .settings-item {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 15px;
  margin-top: 15px;
}
.section-settings .settings-box .settings-item .settings-label {
  align-self: center;
  opacity: 0.6;
}
.section-settings .settings-box .settings-item .settings-input {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
.section-settings .settings-box .settings-item .settings-input.settings-input-twobuttons {
  grid-template-columns: 1fr auto auto;
}
.section-settings .settings-box .settings-item .settings-input select,
.section-settings .settings-box .settings-item .settings-input input[type="text"] {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  padding: 7px 14px;
  border: 0px;
  transition: 0.2s ease-in-out all;
}
.section-settings .settings-box .settings-item .settings-input select:not(:disabled):hover,
.section-settings .settings-box .settings-item .settings-input input[type="text"]:not(:disabled):hover {
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  cursor: pointer;
}
.section-settings .settings-box .settings-item .settings-input select:focus,
.section-settings .settings-box .settings-item .settings-input input[type="text"]:focus {
  outline: 0;
}
.section-settings .settings-box .settings-item .settings-input select::placeholder,
.section-settings .settings-box .settings-item .settings-input input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.section-settings .settings-box .settings-item .settings-input select option,
.section-settings .settings-box .settings-item .settings-input input[type="text"] option {
  background: #222;
  text-transform: initial;
}
.section-settings .settings-box .settings-item .settings-input select:disabled,
.section-settings .settings-box .settings-item .settings-input input[type="text"]:disabled {
  opacity: 0.4;
}
.section-settings .settings-box .settings-item .settings-input input[type="text"] {
  text-transform: initial;
  font-weight: normal;
}
.section-settings.active {
  display: flex;
}
