.section-song-detail .song-detail-background {
  background-size: cover;
  background-position: center;
}
.section-song-detail .song-detail-background .song-detail-dim {
  backdrop-filter: blur(10px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), #212629);
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail {
  padding: 50px;
  display: none;
  grid-template-columns: 200px 1fr;
  grid-gap: 25px;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-cover {
  width: 200px;
  height: 200px;
  align-self: center;
  background: #eee;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-meta-data .song-title {
  font-weight: bold;
  font-size: 48px;
  word-break: break-all;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-meta-data .song-subtitle {
  font-size: 20px;
  word-break: break-all;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-meta-data .song-artist {
  margin-top: 5px;
  font-size: 18px;
  word-break: break-all;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-meta-data .song-charter {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.6;
  word-break: break-all;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-meta-data .song-tags {
  margin-top: 10px;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-meta-data .song-tags .tag {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #222;
  background: #fff;
  padding: 5px 20px;
  border-radius: 50px;
  margin-right: 10px;
  margin-top: 5px;
  word-break: break-all;
  transition: 0.2s ease-in-out all;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-meta-data .song-tags .tag:hover {
  opacity: 0.6;
  cursor: pointer;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-meta-data .song-difficulties {
  margin-top: 15px;
  height: 20px;
  display: flex;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-meta-data .song-difficulties img {
  height: 20px;
  margin-right: 10px;
  opacity: 0.3;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-meta-data .song-difficulties img.active {
  opacity: 1;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-meta-data .song-uploader {
  margin-top: 15px;
  display: flex;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail .song-meta-data .song-uploader .user-item {
  width: auto;
  padding-right: 15px;
}
.section-song-detail .song-detail-background .song-detail-dim .song-detail.active {
  display: grid;
}
.section-song-detail .song-detail-actions {
  padding: 50px;
  padding-top: 0px;
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}
.section-song-detail .song-detail-actions .button {
  padding: 15px 0px;
  font-size: 16px;
  transition: 0.2s ease-in-out all, 0.1s ease-in-out transform;
}
.section-song-detail .song-detail-actions .button.button-primary {
  background: #fff;
  color: #222;
}
.section-song-detail .song-detail-actions .button.button-primary:hover {
  background: #fff;
  color: #222;
}
.section-song-detail .song-detail-actions .button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  opacity: 0.6;
  transform: translateY(-4px);
}
.section-song-detail .song-detail-actions .button:active {
  transform: translateY(-2px);
}
.section-song-detail .song-detail-actions.active {
  display: grid;
}
