.update-overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}
.update-overlay .update-content {
  width: 500px;
  background: #212629;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.update-overlay .update-content .update-status {
  padding: 25px;
  display: none;
  grid-template-rows: 1fr auto;
  grid-gap: 25px;
}
.update-overlay .update-content .update-status .icon {
  margin: 10px auto;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-overlay .update-content .update-status .icon .mdi {
  font-size: 72px;
}
.update-overlay .update-content .update-status .text {
  text-align: center;
}
.update-overlay .update-content .update-status.active {
  display: grid;
}
.update-overlay .update-content .update-actions {
  display: none;
  justify-content: flex-end;
  padding: 25px;
  background: rgba(0, 0, 0, 0.4);
}
.update-overlay .update-content .update-actions button {
  margin-left: 10px;
}
.update-overlay .update-content .update-actions.active {
  display: flex;
}
.update-overlay.active {
  display: flex;
}
